name: Build Documentation

on:
  workflow_dispatch:
  workflow_call:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project source
        uses: actions/checkout@v3

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false

      - name: Install dependencies
        run: poetry install --with docs

      - name: Test Doc Examples
        working-directory: docs
        run: make doctest

      - name: Build Docs
        working-directory: docs
        run: make html SPHINXOPTS="-W"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: docs/build/html
