name: Build Documentation

on:
  workflow_dispatch:
  workflow_call:
  pull_request:

jobs:
  build:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project source
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false

      - name: Set Up Bank DB Location
        shell: bash
        run: mkdir -p /ihome/crc/bank 
      
      - name: Install dependencies
        shell: bash
        run: poetry install --with docs

      - name: Build docs
        shell: bash
        working-directory: docs
        run: make html SPHINXOPTS="-W"

      - name: Upload docs to artifact storage
        uses: actions/upload-pages-artifact@v2
        with:
          path: docs/build/html
