name: Test Package

on:
  workflow_dispatch:
  workflow_call:
  push:

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        slurm_version:
          - 20.02.5.1
          - 20.11.9.1
          - 22.05.2.1
        python:
          - 3.8
          - 3.9

    container:
      image: ghcr.io/pitt-crc/test-env:${{ matrix.slurm_version }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Setup environment
        run: /usr/local/bin/entrypoint.sh

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install poetry
        run: pip${{ matrix.python }} install poetry

      - name: Install dependencies
        run: poetry install

      - name: Run tests with coverage
        shell: bash
        run: |
          pip install coverage
          coverage run -m unittest discover 
          coverage report --omit="tests/*"
          coverage xml --omit="tests/*" -o ${{ inputs.coverage-output }}

      # Report partial coverage results to codacy for the current python version
      - name: Report partial coverage results
        shell: bash
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh) report --partial -l Python -r coverage.xml
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

  # Tell codacy we are done reporting test coverage
  report-code-coverage:
    name: Report Code Coverage
    runs-on: ubuntu-latest
    needs: run-tests
    steps:
      - name: Finish reporting coverage
        shell: bash
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh) final
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

  # Use this job for branch protection rules
  report-test-status:
    name: Report Test Status
    runs-on: ubuntu-latest
    needs: run-tests
    if: always()
    steps:
      - name: Check build status
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1